<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<div class="col-lg-9">
	<div class="row">
		<% @category.products.each do |product|%>
			<div class="col-lg-4 col-md-6 mb-4">
			  <div class="card h-100">
			    <%= link_to product do %>
                  <%= image_tag product.image.url(:medium), class: "card-img-top" %>
                <% end %>
			    <div class="card-body">
			      <h4 class="card-title">
			        <%= link_to product.name, product %>
			      </h4>
			      <h5>Kes <%= product.price %></h5>
			      <p class="card-text"><%= truncate(product.description, :length => 100) %></p>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
			    </div>
			  </div>
			</div>
		<% end %>
	</div>
</div>				
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
